<nav>
    <div>
        <ul class="menu_category nav-pills d-flex justify-content-center">
            <li {% if request.resolver_match.url_name == "category" and not request.resolver_match.kwargs.pk %} class="active" {% endif %}>
            <a class="nav-link black" href="{% url 'category' 0 %}">Все категории</a>
            </li>
            {% for item in category_menu %}
                <li {% if request.resolver_match.kwargs.pk == item.pk and "category" == request.resolver_match.url_name  %} class="active" {% endif %}>
                <a class="nav-link black" href="{% url 'category' item.pk %}">{{ item.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>